export CARGO_HOME=$HOME/Code/rust/beta
export RUSTUP_HOME=$CARGO_HOME
PATH_add $HOME/Code/rust/beta/bin
export DITTO_TARGET=x86_64-unknown-linux-gnu

# Used these for building from SDK source
#export DITTO_ROOT=$HOME/Code/ditto
#export DITTOFFI_SEARCH_PATH="$DITTO_ROOT/target/$DITTO_TARGET/release/deps"

# Define DITTO_APP_ID and DITTO_PG_TOKEN here
source .secret.env
